h1 {
    text-decoration: none;
    color: black;
    text-align: center;
}

p {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-style: oblique;
}

body {
    background-color: burlywood;
}

pre {
    font-size: medium;
    font-family: Verdana, Tahoma, sans-serif;
}